<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">


        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class='card'>
            <div class='card-header'>
                <h5>Inserisci nuovo elemento</h5>
            </div>
            <div class='card-body' *ngIf="rapportinoEdit">

                <form (ngSubmit)="update(atletaForm)" #atletaForm="ngForm" class="row g-3">


                    <div class="col-md-6">
                        <label>Numero Giorni <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" placeholder="Inserire il numero di Giorni" required min="1"
                            id="numeroGiorni" name="numeroGiorni" [(ngModel)]="rapportinoEdit.numeroGiorni" #numeroGiorniVar="ngModel"
                            [ngClass]="{'is-invalid': (numeroGiorniVar.touched || numeroGiorniVar.dirty) && !numeroGiorniVar.valid }">
                        <span class="invalid-feedback">
                            <span *ngIf="numeroGiorniVar.errors?.['required']">
                                Prego inserire un valore
                            </span>
                        </span>
                    </div>

                    <div class="col-12">
                        
                        <button type="submit" name="submitSave" value="submit" id="submitSave" class="btn btn-primary"
                            [disabled]="!atletaForm.form.valid">Conferma</button>
                    </div>

                    <div class='card-footer'>
                        <button
                            class='btn btn-outline-secondary' style='width: 80px' (click)="onBack()"> <i
                            class='fa fa-chevron-left'></i> Back
                        </button>
                    </div>


                </form>
                <!-- {{ libro | json }} -->

                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end container -->
    </div>

    <!-- end main -->
</main>