<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">


        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class='card'>
            <div class='card-header'>
                <h5>Inserisci nuovo elemento</h5>
            </div>
            <div class='card-body'>

                <form (ngSubmit)="save(commessaForm)" #commessaForm="ngForm" class="row g-3">


                    <div class="col-md-6">
                        <label>Descrizione: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Inserire la descrizione" required minlength="2"
                            id="nome" name="nome" [(ngModel)]="commessa.descrizione" #descrizioneVar="ngModel"
                            [ngClass]="{'is-invalid': (descrizioneVar.touched || descrizioneVar.dirty) && !descrizioneVar.valid }">
                        <span class="invalid-feedback">
                            <span *ngIf="descrizioneVar.errors?.['required']">
                                Prego inserire un valore
                            </span>
                            <span *ngIf="descrizioneVar.errors?.['minlength']">
                                Il campo deve avere almeno due caratteri.
                            </span>
                        </span>
                    </div>

                    <div class="col-md-6">
                        <label>Codice <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Inserire il codice" required minlength="2"
                            id="titolo" name="titolo" [(ngModel)]="commessa.codice" #codiceVar="ngModel"
                            [ngClass]="{'is-invalid': (codiceVar.touched || codiceVar.dirty) && !codiceVar.valid }">
                        <span class="invalid-feedback">
                            <span *ngIf="codiceVar.errors?.['required']">
                                Prego inserire un valore
                            </span>
                            <span *ngIf="codiceVar.errors?.['minlength']">
                                Il campo deve avere almeno due caratteri.
                            </span>
                        </span>
                    </div>

                    <div class=" col-md-3">
                        <label>DataIn<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" placeholder="dd/MM/yy" required id="dataIn"
                            name="dataIn" title="formato : gg/mm/aaaa" [(ngModel)]="commessa.dataIn"
                            #dataInVar="ngModel"
                            [ngClass]="{'is-invalid': (dataInVar.touched || dataInVar.dirty) && !dataInVar.valid }">
                        <span class="invalid-feedback">
                            <span *ngIf="!dataInVar.valid">
                                Il campo deve essere correttamente valorizzato
                            </span>
                        </span>
                    </div>

                    <div class=" col-md-3">
                        <label>DataOut<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" placeholder="dd/MM/yy" required id="dataOut"
                            name="dataOut" title="formato : gg/mm/aaaa" [(ngModel)]="commessa.dataOut"
                            #dataOutVar="ngModel"
                            [ngClass]="{'is-invalid': (dataOutVar.touched || dataOutVar.dirty) && !dataOutVar.valid }">
                        <span class="invalid-feedback">
                            <span *ngIf="!dataOutVar.valid">
                                Il campo deve essere correttamente valorizzato
                            </span>
                        </span>
                    </div>

                    <div class="col-md-6">
                        <label>Importo <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" placeholder="Inserire importo" required min="1"
                            id="importo" name="importo" [(ngModel)]="commessa.importo" #importoVar="ngModel"
                            [ngClass]="{'is-invalid': (importoVar.touched || importoVar.dirty) && !importoVar.valid }">
                        <span class="invalid-feedback">
                            <span *ngIf="importoVar.errors?.['required']">
                                Prego inserire un valore
                            </span>
                        </span>
                    </div>

                    <div class="col-12">
                        <button type="submit" name="submit" value="submitValue" id="submitId"
                            class="btn btn-primary"  [disabled]="!commessaForm.form.valid">Conferma</button>
                    </div>

                    <div class='card-footer'>
                        <button
                            class='btn btn-outline-secondary' style='width: 80px' (click)="onBack()"> <i
                            class='fa fa-chevron-left'></i> Back
                        </button>
                    </div>


                </form>
                <!-- {{ libro | json }} -->

                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end container -->
    </div>

    <!-- end main -->
</main>