<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">





        <div class='card'>
            <div class='card-header'>
                <h5>Lista dei risultati</h5>
            </div>
            <div class='card-body'>
                <a class="btn btn-primary " [routerLink]="['/risorsa/insert']">Add New</a>

                <div class='table-responsive'>
                    <table class='table table-hover '>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>CF</th>
                                <th>Data Inizio</th>
                                <th>Data Fine</th>
                                <th>E-mail</th>
                                <th>Costo Giornaliero</th>
                                <th>Azioni</th>


                            </tr>
                        </thead>
                        <tbody *ngFor="let risorsaItem of risorse">
                            <tr>
                                <td>{{risorsaItem.nome }}</td>

                                <td>{{risorsaItem.cognome}}</td>
                                <td>{{risorsaItem.cf }}</td>
                                <td>{{risorsaItem.dataIn | date:'dd/MM/yyyy'}}</td>
                                <td>{{risorsaItem.dataOut | date:'dd/MM/yyyy'}}</td>
                                <td>{{risorsaItem.email}}</td>
                                <td>{{risorsaItem.costoGiornaliero}}</td>


                                <td>


                                    <a class="btn  btn-sm btn-outline-primary ml-auto mr-auto" style='margin-right: 5px;'
                                        [routerLink]="['/risorsa/show', risorsaItem.id]">Visualizza dettaglio</a>
                                    <a class="btn  btn-sm btn-outline-primary ml-auto mr-auto" style='margin-right: 5px;'
                                        [routerLink]="['/risorsa/edit', risorsaItem.id]">Edit</a>
                                    <a class="btn btn-outline-danger btn-sm ml-auto mr-auto"
                                        [routerLink]="['/risorsa/delete', risorsaItem.id]">Delete</a>


                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>

                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>


        <!-- end container -->
    </div>

</main>